<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Erreur interne - Code 500</title>
		<link rel="stylesheet" href="{{ asset('css/erreurs/404.css') }}" type="text/css" media="screen" >
    </head>
    <body>
		<div class="text-center erreur">
			<img src="{{ asset('img/error500.jpg') }}" alt=""/>
			<h1>Oops! Une erreur interne est survenue</h1>			
			
			<p>
				Un rapport a été envoyé automatiquement, l'erreur sera réparée dès que possible.
			</p>
		</div>
    </body>
</html>
