@import 'my_variables.less';



html, body {
    height: 100%;
    background-color: @bg_defaut;    
}


#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -@taille-footer;
    padding: 0 0 @taille-footer;
    font-size: 105%;

    & > .container {
      padding: @taille-header 15px 0;
    }
}

.titrebloc {
    color: @couleurSecondaire;
    text-transform:uppercase;
}

.nav .active {
    border-bottom: 7px solid @bg_defaut;
}

.footer {
    font-size: 1.2em;
    height: @taille-footer;
    background-color: lighten(@navbar-default-bg, 35%);
    padding: 10px;
}



.header {

    background: url('../img/line.png') repeat-x;
    .titrebloc {
        background: @bg_defaut;
        display: inline-block;
        padding: 5px 20px;

    }
}


// Ordi
@media (min-width: @screen-sm){
	
    .navbar-brand {
        margin-top: 7px;
        margin-right: 10px;
    }
}

//Tablette
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
	
    #wrap > .container {
      padding: (@taille-header+50) 15px 0;
    }
    .navbar-header {
        padding-left: 37%;
    }
}
