<footer>
    <div class="footer" id="footer">
        <div class="container">
            <address>
                <div class="row text-center">
                    <div class="col-sm-6">
                         <p>
                            <abbr title="Adresse"><i class="fa fa-home"></i></abbr>
                            Toulouse, France
                        </p>
                    </div>
                    <div class="col-sm-6">
                         <p>
                            <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
                            <a href="mailto:guillaume@sainthillier.fr">guillaume@sainthillier.fr</a>
                        </p>	
                    </div>
                </div>                					
            </address>
        </div>
    </div> 
</footer>