{% extends "::base.html.twig" %}


{% block title %}
Accueil
{%endblock %}

{% block body_container_header %}
Bienvenue
{%endblock %}


{% block body_container_main %}
<br />
<p>
Ce site a pour but de faire une présentation de soi dans le cadre d'un projet de communication du Master1 ICE Toulouse.
</p>

<p>
    Le contenu <b>obligatoire</b> à trouver sur le site est:
</p>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-angle-right"></i>un CV actualisé</li>
    <li><i class="fa-li fa fa-angle-right"></i>un parcours professionnel</li>
    <li><i class="fa-li fa fa-angle-right"></i>une liste de compétences</li>
    <li><i class="fa-li fa fa-angle-right"></i>les attentes personnelles/professionnelles</li>
    <li><i class="fa-li fa fa-angle-right"></i>les traits de personnalité ainsi que les centres d'intêrets</li>
    <li><i class="fa-li fa fa-angle-right"></i>les motivations</li>
</ul>

<br />
<i class="fa fa-info-circle"></i> Accéder à l'ensemble du contenu du site en cliquant sur les lien du menu ci-dessus.

<br />
<br />
<h3 class="text-center">Bonne navigation !</h3>
{% endblock %}