{% extends "::base.html.twig" %}

{% block title %}
Mes Attentes & Motivations
{%endblock %}

{% block body_container_header %}
Mes attentes
{%endblock %}

{% block body_container_main %}
    <h2><span>Professionnelles</span></h2>
    <p>
        <span class="label label-primary">1</span> 
        Je cherche à travailler dans une entreprise résolument tournée vers les 
        <b>technologies innovantes</b>, et m'intégrer au sein d'une équipe 
        dynamique et passionnée.
    </p>
    <p>
        <span class="label label-primary">2</span> 
        J'aimerais être dans un service à taille humaine et travailler sur des 
        <b>projets motivants</b>.
    </p>
    <p>
        <span class="label label-primary">3</span> 
        Après quelques années au sein d'une entreprise, j'imagine <b>évoluer</b>,
        soit en me spécialisant, soit en prenant éventuellement un rôle de management.
    </p>
    <br />
    <h2><span>Personnelles</span></h2>
    <p>
        <span class="label label-primary">1</span> 
        J'espère pouvoir simplement continuer à prendre du <b>plaisir</b> dans chaque instant
        de la vie.
    </p>
    <p>
        <span class="label label-primary">2</span> 
        J'aime <b>voyager</b> et découvrir de nouvelles cultures, et je souhaite
        avoir la chance de pouvoir continuer à le faire tout au long de ma vie.
    </p>
    <p>
        <span class="label label-primary">3</span> 
        De façon plus introspective, j'espère rester en accord avec mes <b>valeurs</b>
        à chacun de mes choix.
    </p>
{% endblock %}

{% block css %}
    {% stylesheets 
        'css/attentes.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/attentes.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}