{% extends "::base.html.twig" %}


{% block title %}
Mes Attentes & Motivations
{%endblock %}

{% block body_container_header %}
Mes attentes
{%endblock %}


{% block body_container_main %}
    <h2><span>Professionnelles</span></h2>
    <p>
        <span class="label label-primary">1</span> Je cherche à travailler dans une entreprise résolument tournée vers les technologies innovantes,
        et m'intégrer au sein d'une équipe dynamique et passionnée. 
    </p>
    <p>
        <span class="label label-primary">2</span> Travailler dans de grands open space, ou n'être qu'une sorte de « numéro » ne m'intéresse pas.
        Trouver une entreprise ou un service à taille <b>humaine</b> est pour moi une chose très importante.
    </p>
    <p>
        <span class="label label-primary">3</span> Le challenge intellectuel est aussi, pour moi, un facteur clé d'un bon emploi.
        Me surpasser intellectuellement et maintenir mon cerveau en forme me permettrait de pleinement m'épanouir au travail.
    </p>
    <br />
    <h2><span>Personnelles</span></h2>
    <p>
        <span class="label label-primary">1</span> Je cherche à travailler dans une entreprise résolument tournée vers les technologies innovantes,
        et m'intégrer au sein d'une équipe dynamique et passionnée. 
    </p>
    <p>
        <span class="label label-primary">2</span> Travailler dans de grands open space, ou n'être qu'une sorte de « numéro » ne m'intéresse pas.
        Trouver une entreprise ou un service à taille <b>humaine</b> est pour moi une chose très importante.
    </p>
    <p>
        <span class="label label-primary">3</span> Le challenge intellectuel est aussi un facteur clé. Se surpasser intellectuellement et maintenir son cerveau en forme est primordial, et je pense que le domaine de l'informatique est propice à ce comportement
    </p>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/attentes.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/attentes.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}