{% extends "::base.html.twig" %}


{% block title %}
Mes Attentes & Motivations
{%endblock %}

{% block body_container_header %}
Mes attentes
{%endblock %}


{% block body_container_main %}
    <h2><span>Professionnelles</span></h2>
    <p>
        Je cherche à travailler dans une entreprise résolument tournée vers les technologies innovantes,
        et m'intégrer au sein d'une équipe dynamique et passionnée. 
    </p>
    <p>
        Travailler dans de grands open space, ou n'être qu'une sorte de « numéro » ne m'intéresse pas.
        Trouver une entreprise ou un service à taille <b>humaine</b> est pour moi une chose très importante.
    </p>
    <p>
        Le challenge intellectuel est aussi un facteur clé. TODO : A compléter
    </p>
    <br />
    <h2><span>Personnelles</span></h2>
    <p>
        A 
    </p>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/attentes.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/attentes.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}