{% extends "::base.html.twig" %}

{% block title %}
Bonus
{%endblock %}

{% block body_container_header %}
Complément
{%endblock %}

{% block body_container_main %}
    <br />
    <br />
    <p>
        Si vous voulez en découvrir un peu plus, vous pouvez retrouver : 
    </p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-angle-right"></i> Mon site internet sur <a title="Retrouvez mon site Web pro" href="http://sainthillier.fr">sainthillier.fr</a></li>
        <li><i class="fa-li fa fa-angle-right"></i> Mes profils 
            <a title="Retrouvez moi sur Viadeo" href="http://www.viadeo.com/profile/0024dwstfu32pr3/">Viado</a> 
            et 
            <a title="Retrouvez moi sur LinkedIn" href="https://www.linkedin.com/profile/view?id=256300872&amp;trk=tab_pro">LinkedIn</a>
        </li>
    </ul>
{% endblock %}
