{% extends "::base.html.twig" %}


{% block title %}
CV
{%endblock %}

{% block body_container_header %}
Mon Curriculum Vitae
{%endblock %}


{% block body_container_main %}
<br />
<div class="text-center" >
    <div class="col-md-12" id="test">
        <a class="btn btn-lg btn-default" href="{{ asset('pdf/CV_SAINTHILLIER_Guillaume.pdf') }}"><i class="fa fa-download"></i> Télécharger au format PDF</a>
        <a class="media" href="{{ asset('pdf/CV_SAINTHILLIER_Guillaume.pdf') }}">CV Guillaume Sainthillier</a>
    </div>
</div>
    
    
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/cv.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/cv.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts 
       'js/jquery.media.js'
       'js/jquery.metadata.js'
       'js/parcours.js'

       filter='?yui_js'
       output='prod/js/parcours.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}