{% extends "::base.html.twig" %}


{% block title %}
Ma personnalité
{%endblock %}

{% block body_container_header %}
<span class="vert">Mes traits de personnalité</span>
{%endblock %}



{% block body_container_main %}
<div class="component">
    <button class="cn-button" id="cn-button">Découvrir</button>
    <div class="cn-wrapper" id="cn-wrapper">
        <ul>
            <li><a href="#"><span><i class="fa fa-star"></i></span></a></li>
            <li><a href="#"><span>2</span></a></li>
            <li><a href="#"><span>3</span></a></li>
            <li><a href="#"><span>4</span></a></li>
            <li><a href="#"><span>5</span></a></li>
            <li><a href="#"><span>6</span></a></li>
            <li><a href="#"><span><i class="fa fa-star"></i></span></a></li>
         </ul>
    </div>
</div>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/personnalite.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/personnalite.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts 
       'js/circular.js'

       filter='?yui_js'
       output='prod/js/personnalite.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}