{% extends "::base.html.twig" %}


{% block title %}
Ma personnalité
{%endblock %}

{% block body_container_header %}
<span class="vert">Mes traits de personnalité</span>
{%endblock %}



{% block body_container_main %}
<div class="component">
    <button class="cn-button" id="cn-button">Découvrir</button>
    <div class="cn-wrapper" id="cn-wrapper">
        <ul>
            <li><a href="#"><span><i class="fa fa-star"></i></span></a></li>
            <li><a href="#"><span>Ordonné</span></a></li>
            <li><a href="#"><span>Rigoureux</span></a></li>
            <li><a href="#"><span>Patient</span></a></li>
            <li><a href="#"><span>Honnête</span></a></li>
            <li><a href="#"><span>Intégre</span></a></li>
            <li><a href="#"><span><i class="fa fa-star"></i></span></a></li>
         </ul>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="header text-center">
    <h1 class="titrebloc">
        <span class="">Mes centres d'intérêts</span>
    </h1>
</div>

{% set images = 
    {
        'voyage.jpg' : "
<h3>Les voyages</h3>
<blockquote>
    <p>J'ai eu le chance d'avoir pu voyager dans divers pays durant mon enfance. Ces voyages ont tous laissés de très bons souvenirs gravés dans ma mémoire.</p>
    <small>J'ai pris cette photo à Punta Cana (République Dominicaine) en décembre 2008</small>
</blockquote>
",
        'roller.jpg' : "
<h3>Le sport</h3>
<blockquote>
    <p>J'ai pratiqué le roller pendant près de 10 ans durant mon enfance.</p>
    <small>Les sorties roller sont toujours un excellent moment !</small>
</blockquote>
",
        'festival.jpg' : "
<h3>Les festivals</h3>
<blockquote>
    <p>Les festivals en Belgique et aux Pays-Bas sont incomparables à ceux en France. Depuis mes 18 ans, j'y vais une fois par an pour décompresser totalement et faire le plein d'energie!</p>
    <small>J'étais à ce festival situé à Arnhem (Pays-Bas) en août 2012</small>
</blockquote>
"
    }
%}

<br />
<div class="flexslider">
    <ul class="slides">
        {% for image, texte in images %}
            <li>
                {{ texte|raw }}
                <img src="{{ asset('img/interets/' ~ image) }}" />
            </li>
        {% endfor %}
  </ul>
</div>
{% endblock %}


{% block css %}
    {% stylesheets 
        'css/personnalite.css'
        'css/flexslider.css'

        filter='cssrewrite,?yui_css'
        output='prod/css/personnalite.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts 
       'js/circular.js'
        'js/jquery.flexslider.js'
        'js/personnalite.js'

       filter='?yui_js'
       output='prod/js/personnalite.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}    